@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar utility for inner scroll areas */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
